*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; }


    /* HEADER */
#header{
    width: 100%;
   
   position: fixed;
   z-index: 100;
   background-color: rgb(6, 34, 34);

}
#header .tituloHeader{
    position: relative;
    bottom: 50px;
    
}
#header .tituloHeader h1{
    text-align: center;
   color: #efefef;
   position: relative;
   bottom: 20px;

    
    

}
#header .tituloHeader span{
    position: relative;
    left: 45%;
    font-size: 20px;
    color: #fff;
    bottom: 20px;
}
#header .logoHeader{
    
    width: 50%;
   
    
}
#header .logoHeader .imgLogo{
    width: 90px;
    position: relative;
    top: 10px;

    
}

#header .menu{
    padding: 20px;
    text-align: center;
    background-color: rgb(6, 34, 34);
    position:fixed;
    width: 100%;
    top: 100px;
    
    
    
}

#header .menu ul li{
    margin: 40px;
    font-size: 20px;
    display: inline;
    
}
#header .menu ul li .btnMenu{
     text-decoration: none;
     padding: 15px;
     
     margin: 20px;
     color: #fff;
}
#header .menu ul li .btnMenu:hover{
    text-decoration: none;
   
    border-color: rgba(255, 255, 255, 0.162) ;
    border: solid 1px;
}

 /* AQUI EMPIEZA EL FOOTER */
 #footer{
    width: 100%;
    background-color: rgb(6, 34, 34);
    position: absolute;
    bottom: auto;
}
#footer .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;

}

#footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#footer.grupo-1 .box figure img{
    width: 50px;
    
}
#footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
#footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

#footer .grupo-2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}
#footer .grupo-2 small{
    font-size: 15px;
}


/*  Aqui va a ir el MAIN */

#contenidoPrincipal a img{
    width: 100%;
    height: 800px;
    position: relative;
    top: 160px;
    

}
#contenidoPrincipal a {
    text-decoration: none;
}
#contenidoPrincipal span{
    text-align: center;
    position: relative;
    left: 36%;
    z-index: 2;
    bottom: 350px;
    color: #efefef;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    
    
}
/* AQUI VA UN SECTION DE INDEX */
#section-1{
    height: 500px;
    position: relative;
    top: 100px;
}

#section-1 .divSection-1{
    width: 100%;
    height: 400px;
   
    
}
#section-1 .divSection-1 div {
  
    width: 32%;
    height: 200px;
    padding-left: 50px ;
    padding-right: 50px;
    
    display: inline-block;
    position: relative;
    left: 15px;
    
    
    

}
#section-1 .divSection-1 div h3 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#section-1 .divSection-1 div p{
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(99, 95, 95, 0.833);
}


#articlpePrincipal{
    position: relative;
    top: 100px;
}
#articlePrincipal div{
    width: 100%;
    height: 600px;
}
#articlePrincipal img{
    width: 100%;
    height: 600px;
    position: relative;
    bottom: 10px;
    
}
#articlePrincipal .spanTecnicos{
    text-align: center;
    position: relative;
    left: 30%;
    z-index: 2;
    bottom: 600px;
    color: #a54d28ef;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }
.btnContactanos{
    
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 500px;
}

.btnContactanos .btnContactanos-1{
    width: 100%;
    text-decoration: none;
    
}
.btnContactanos .btnContactanos-1 .spanContactanos{
    position: relative;
    left: 42%;
    top: 90px;
    width: 800px;
    height: 50px;
    border: solid 2px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:  20px; ;
    padding-bottom: 20px;
    font-size: 30px;
    color: #a54d28ef;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}










/* CONTACTO */

 #form{
    height: 1000px;
 }
#fieldset{
    position: relative;
    top: 200px;
    border: none;
    height: 700px;
    width: 50%;
    left: 25%;
}
#fieldset h1{
    text-align: center;
    font-family: monospace;
}
#nombre{
    position: relative;
    left: 23%;
    width: 500px;
    height: 50px;
    margin: 10px;
    

}
#apellido{
    position: relative;
    left: 23%;
    width: 500px;
    height: 50px;
    margin: 10px;
    
}
#telefono{
    position: relative;
    left: 23%;
    width: 500px;
    height: 40px;
    margin: 10px;
}
#gmail{
    position: relative;
   left: 23%;
   width: 500px;
    height: 50px;
    margin: 10px;
}
#repetirGmail{
    position: relative;
    left: 23%;
    width: 500px;
    height: 50px;
    margin: 10px;
}

#mensaje{
    position: relative;
    left: 23%;
    width: 500px;
    margin: 10px;
}

#form .campoObligatorio{
    text-align: center;
    font-size: 20px;
}
#condiciones{
    position: relative;
    left: 25%;
    display: inline;
    width: 200px;
}
#terycond{
    height: 30px;
    width: 30px;
}
.parrafoTerminos{
    display: inline;

}

#enviarConsulta{
    position: relative;
    text-align: center;
}
#enviarConsulta input{
    width: 500px;
    height: 35px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* SOBRE NOSOTROS */ 
#mainNosotros{
    width: 100%;
    position: relative;
    top: 200px;
    height: 800px;
}

#mainNosotros div img{
    width: 98%;
    height: 500px;
    position: relative;
    left: 20px;
}
#mainNosotros div span h1{
    position:relative;
    left: 20%;
    bottom: 350px;
    font-size: 100px;
    color: rgb(184, 187, 190);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;
}


#sectionNosotros{
    
    height: 1300px;
}
#sectionNosotros .primerContenido{
    
    display: inline-block;
    width: 100%;
    position: relative;
}
#sectionNosotros .primerContenido div{
    
    position: relative;
    display: inline-block;
    position: relative;
    left: 26%;
    width: 50%;
    text-align: center;
    padding: 20px;
    
}
#sectionNosotros .primerContenido div h2{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sectionNosotros .primerContenido div p{
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(99, 95, 95, 0.833);
    margin: 50px;
}


/* SERVICIOS */
#sectionServicios{
    height: 700px;

}
#sectionServicios div .imgServicios{
   width: 100%;
   height: 400px;
   position: relative;
   top: 200px;
}
#sectionServicios span h1{
    position:relative;
    left: 30%;
    bottom: 100px;
    font-size: 100px;
    color: rgb(184, 187, 190);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;
}

#mainServicios{
    height: 1000px;
}
#mainServicios .contenidoServicios{
    
    width: 100%;
    height: 1000px;

}
#mainServicios .contenidoServicios div{
    display: inline-block;
   
    position: relative;
    left: 83px;
    width: 30%;
    height: 300px;
    text-align: center;
}
#mainServicios .contenidoServicios div h2{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mainServicios .contenidoServicios div p{
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(99, 95, 95, 0.833);
    margin: 50px;
}

/* Pagina trabajos */

#mainTrabajos{
  
    
}
#mainTrabajos .contenidoTrabajos{
   display: inline-block;
   width: 100%;
   
   height: 900px;
}
#mainTrabajos .contenidoTrabajos div{
    
    width: 40%;
    height: 500px;
    display: inline-block;
    position: relative;
    top: 200px;
    left: 10%;
}
#mainTrabajos .contenidoTrabajos div img{
    width: 100%;
    height: 500px;
}
#mainTrabajos .contenidoTrabajos .parrafoTrabajo{
    position: relative;
    bottom: 200px;
}
#mainTrabajos .contenidoTrabajos .parrafoTrabajo h2{
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainTrabajos .contenidoTrabajos .parrafoTrabajo p{
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(99, 95, 95, 0.833);
    margin: 50px;
}
